<body class="text-[18px] text-white overflow-x-hidden">
    
   
     <!----------------------------------------------------------------------------->
     <!------------SECCIÓN DE CREAR CUENTA------------------------------------------>
     <!----------------------------------------------------------------------------->
       <section class="bg-general bg-cover bg-center h-auto w-screen flex justify-center items-center">
           <article class="flex flex-col gap-8 py-10">
             <h1 class="text-4xl font-semibold">Crea una <span class="text-main-yellow">nueva cuenta</span></h1>
             <form action="/api/v1/usuarios/crearUsuario" method="post" class="flex flex-col gap-4">
               <div class="flex flex-col gap-1">
                 <label for="Nombres">Nombre</label>
                 <input type="text" id="Nombres" name="Nombres" placeholder="Juan Perez" class="bg-main-black border border-gray-700 focus:border-main-yellow px-1 py-2 outline-none rounded-sm">
               </div>
               <div class="flex flex-col gap-1">
                 <label for="Apellidos">Apellidos</label>
                 <input type="text" name="Apellidos" id="Apellidos" placeholder="1111111" required class="bg-main-black border border-gray-700 focus:border-main-yellow px-1 py-2 outline-none rounded-sm">
               </div>
               
               <div class="flex flex-col gap-1">
                 <label for="CorreoElectronico">Correo Electrónico</label>
                 <input type="email" id="CorreoElectronico" name="CorreoElectronico" placeholder="correo@electronico.com" class="bg-main-black border border-gray-700 focus:border-main-yellow px-1 py-2 outline-none rounded-sm">
               </div>
          
               <div class="flex flex-col gap-1">
                 <label for="Direccion">Direccion</label>
                 <input type="text" name="Direccion" id="Direccion" required class="bg-main-black border border-gray-700 focus:border-main-yellow px-1 py-2 outline-none rounded-sm">
               </div>
               <div class="flex flex-col gap-1">
                <label for="Telefono">Telefono</label>
                <input type="number" name="Telefono" id="Telefono" required class="bg-main-black border border-gray-700 focus:border-main-yellow px-1 py-2 outline-none rounded-sm">
              </div>
               <button href="/" type="submit" class="bg-main-yellow py-2 mt-3 rounded-md text-black font-semibold hover:bg-transparent border-2 border-main-yellow hover:text-white transition duration-300">Crea tu cuenta</button>
             </form>
             <div class="flex w-full relative items-center gap-2">
               <div class="border-t w-full border-gray-400"></div>
               <p class="">ó</p>
               <div class="border-t w-full border-gray-400"></div>
             </div>
             <div class="flex flex-col gap-4">
               <a href="">
                 <div class="flex gap-3 items-center border border-main-yellow rounded-md justify-center py-2 font-semibold hover:bg-main-yellow hover:text-main-black transition duration-300">
                   <i class="fa-brands fa-google"></i>
                   <p>Crear cuenta con Google</p>
                 </div>
               </a>
               <a href="">
                 <div class="flex gap-3 items-center border border-main-yellow rounded-md justify-center py-2 font-semibold hover:bg-main-yellow hover:text-main-black transition duration-300">
                   <i class="fa-brands fa-facebook"></i>
                   <p>Crear cuenta con Facebook</p>
                 </div>
               </a>
             </div>
           </article>
       </section>   
</body>