<section class="bg-general bg-cover bg-center w-screen flex flex-col items-center h-auto">
    <article class="w-3/5 px-2 py-10 flex flex-col gap-4">
        <div>
            <h2 class="text-4xl font-semibold">Bienvenida de vuelta, <span class="text-main-yellow">Lily</span></h2>
            <p class="italic text-[0.9rem]">Tú Dashboard</p>
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <h3 class="text-2xl font-semibold">Estacionamiento actual</h3>
                <div class="flex items-center gap-4">
                    <i class="fa-solid fa-location-dot text-xl"></i>
                    <div>
                        <h6 class="font-medium ">Válido hasta las 10:00 pm</h6>
                        <p class="italic text-[0.9rem] text-gray-400"">Parking Florida, 123 Mission st</p>
                    </div>
                </div>
                <div class="flex items-center gap-4">
                    <i class="fa-solid fa-ticket-simple text-xl"></i>
                    <p class="text-gray-400"">$15:00</p>
                    <button class="bg-main-yellow px-2 py-1 rounded-md text-main-black font-semibold border border-main-yellow hover:bg-transparent hover:text-white transition duration-500">Extender</button>
                </div>
            </div>
            
        </div>
    </article>
    <article class="flex flex-col gap-4 w-3/5 px-2">
        <h2 class="text-3xl font-semibold">Subscriptions</h2>
        <div class="flex gap-6 border border-gray-400 rounded-md">
            <img src="../images/parking1.jpeg" alt="imagen de parqueadero 1" class="w-80 h-60 rounded-md">
            <div class="flex flex-col justify-between p-2 w-full">
                <div class="flex flex-col gap-1">
                    <p class="italic text-gray-400">Empieza en 4 días</p>
                    <h6 class="text-xl font-semibold">Estacionamiento diario</h6>
                    <p class="italic text-gray-400"">Fecha</p>
                    <p class="italic text-gray-400"">Expira en 1 día</p>
                </div>
                <div class="w-full">
                    <button class="bg-main-yellow w-full rounded-md text-main-black font-semibold border border-main-yellow hover:bg-transparent hover:text-white transition duration-500"">Extender reservación</button>
                </div>
            </div>
        </div>
        <div class="flex gap-6 border border-gray-400 rounded-md">
            <img src="../images/parking2.jpeg" alt="imagen de parqueadero 1" class="w-80 h-60 rounded-md">
            <div class="flex flex-col justify-between p-2 w-full">
                <div class="flex flex-col gap-1">
                    <p class="italic text-gray-400">Empieza en 7 días</p>
                    <h6 class="text-xl font-semibold">Estacionamiento semnal</h6>
                    <p class="italic text-gray-400"">Fecha</p>
                    <p class="italic text-gray-400"">Expira en 15 días</p>
                </div>
                <div class="w-full">
                    <button class="bg-main-yellow w-full rounded-md text-main-black font-semibold border border-main-yellow hover:bg-transparent hover:text-white">Extender reservación</button>
                </div>
            </div>
        </div>
    </article>
</section>