<!---------------------------------------------------------------->
     <!------------SECCIÓN DE BARRA DE NAVEGACIÓN HORIZONTAL------------------------->
     <!---------------------------------------------------------------->
   
     <header class="w-screen h-auto bg-main-black border-b border-main-yellow">
        <nav class="flex justify-between w-11/12 m-auto">
            <img src="./public/images/logoFitP.png" alt="logo-fitParking-amarillo" class="h-20">
            <ul class="flex gap-6 items-center">
                <li><a href="./index.html">Iniciar sesión</a></li>
                <li class="bg-main-yellow border-2 border-main-yellow py-2 px-3 rounded-xl text-black hover:bg-transparent hover:cursor-pointer hover:text-white transition duration-200 font-semibold"><a href="./crearCuenta.html">Crear cuenta</a></li>
            </ul>
        </nav>
      </header>