<nav class="bg-main-black h-screen sticky top-0 left-0 min-w-60 w-60 flex flex-col items-center justify-between border-r border-r-main-yellow text-lg text-secundary-light font-medium">
    <div class="flex flex-col gap-4 mt-4 w-4/5" >
        <img src="../images/logoFitP.png" alt="" class="h-20 m-auto">
        <ul class="flex flex-col gap-2">
            <a href="./dashboardAdmin.html"><li class="flex gap-6 py-1 items-center rounded-md px-1  cursor-pointer bg-main-yellow text-main-black font-semibold">
                <i class="fa-solid fa-house"></i>
                <p>Inicio</p>
            </li></a>
            <a href="./espaciosParqueoAdmin.html">
                <li class="flex gap-6 py-1 items-center px-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500"">
                    <i class="fa-solid fa-car"></i>
                    <p>Espacios</p>
                </li>
            </a>
            <a href="./reportesAdmin.html">
                <li class="flex gap-6 py-1 items-center px-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500"">
                    <i class="fa-solid fa-ticket"></i>
                    <p>Reservaciones</p>
                </li>
            </a>
            <a href="./pagosAdmin.html">
                <li class="flex gap-6 py-1 items-center px-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500"">
                    <i class="fa-solid fa-wallet"></i>
                    <p>Pagos</p>
                </li>
            </a>
            <a href="./reportesAdmin.html">
                <li class="flex gap-6 py-1 items-center px-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500"">
                    <i class="fa-solid fa-file"></i>
                    <p>Reportes</p>
                </li>
            </a>
            <a href="./ajustesGeneral.html">
                <li class="flex gap-6 py-1 items-center px-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500"">
                    <i class="fa-solid fa-gear"></i>
                    <p>Ajustes</p>
                </li>
            </a>
        </ul>
    </div>
    <ul class="flex flex-col gap-2 mb-4 w-4/5">
        <li class="flex gap-6 items-center px-1 py-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500"">
            <i class="fa-regular fa-circle-question"></i>
            <p>Ayuda</p>
        </li>
        <li class="flex gap-6 items-center px-1 py-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500">
            <i class="fa-solid fa-bullhorn"></i>
            <p>Feedback</p>
        </li>
        <li class="flex gap-6 items-center px-1 py-1 rounded-md hover:bg-main-yellow cursor-pointer hover:text-black hover:font-medium transition duration-500" id="cerrarSesionAdminBtn">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>Cerrar sesión</p>
        </li>
    </ul>
</nav>