<section
  class="bg-general bg-cover bg-center h-auto flex gap-5 text-secundary-light w-full"
>
  <div class="min-h-screen flex flex-col w-full">
    <!-- Top Navigation -->
    <header class="bg-main-black shadow-lg">
      <div class="flex items-center justify-between h-16 px-4">
        <div class="flex items-center space-x-4">
          <a
            href="/api/v1/lotes/seccion-lotes"
            class="text-main-yellow hover:text-secundary-dark"
          >
            <i class="fa-solid fa-arrow-left text-2xl"></i>
          </a>
          <h1 class="text-xl font-bold">Crear nuevo lote</h1>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="flex-1 p-6">
      <div class="max-w-2xl mx-auto bg-main-black rounded-lg shadow-lg p-6">
        <form id="addLotForm" class="space-y-4">
          <div>
            <label
              for="nombreLote"
              class="block text-sm font-medium text-secundary-light mb-1"
              >Nombre del lote</label
            >
            <input
              type="text"
              id="nombreLote"
              name="nombreLote"
              required
              class="w-full px-4 py-2 rounded-lg bg-gray-700 border border-gray-600 text-white focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
            />
          </div>

          <div class="grid grid-cols-2 gap-4">
            <div>
              <label
                for="capacidad"
                class="block text-sm font-medium text-gray-300 mb-1"
                >Capacidad</label
              >
              <input
                type="number"
                id="capacidad"
                name="capacidad"
                required
                min="1"
                class="w-full px-4 py-2 rounded-lg bg-gray-700 border border-gray-600 text-white focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
              />
            </div>
            <div>
              <label
                for="ubicacion"
                class="block text-sm font-medium text-gray-300 mb-1"
                >Ubicación</label
              >
              <input
                type="text"
                id="ubicacion"
                name="ubicacion"
                required
                class="w-full px-4 py-2 rounded-lg bg-gray-700 border border-gray-600 text-white focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
              />
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label
                for="tipoLote"
                class="block text-sm font-medium text-gray-300 mb-1"
                >Tipo de Lote</label
              >
              <select
                id="tipoLote"
                name="tipoLote"
                required
                class="w-full px-4 py-2 rounded-lg bg-gray-700 border border-gray-600 text-white focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
              >
                <option value="cubierto">Cubierto</option>
                <option value="descubierto">Descubierto</option>
              </select>
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-300 mb-1"
                >Precio por hora</label
              >
              <input
                type="number"
                id="precioPorHora"
                name="precioPorHora"
                required
                min="0"
                step="0.01"
                class="w-full px-4 py-2 rounded-lg bg-gray-700 border border-gray-600 text-white focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
              />
            </div>
          </div>

          <div class="flex justify-end space-x-4 pt-4">
            <button
              type="button"
              onclick="window.location.href='/api/v1/lotes/seccion-lotes'"
              class="px-4 py-2 text-secundary-light hover:text-secundary-dark"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="px-4 py-2 outline outline-main-yellow bg-main-yellow rounded-lg hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-main-yellow focus:ring-offset-main-yellow text-main-black font-semibold hover:text-secundary-light"
            >
              Crear lote
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
  <script>
    document.querySelector("form").addEventListener("submit", async (e) => {
      e.preventDefault();

      const URL_CREAR_LOTE = "/api/v1/lotes/crear-lote";

      try {

        const bodyData = {
            nombreLote: document.querySelector('#nombreLote').value,
            ubicacion: document.querySelector('#ubicacion').value,
            capacidad: document.querySelector('#capacidad').value,
            tipoLote: document.querySelector('#tipoLote').value,
            precioPorHora: document.querySelector('#precioPorHora').value,
          };

        const res = await fetch(URL_CREAR_LOTE, {
          method: 'post',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(bodyData),
        })

        if (res.ok) {
            await Swal.fire({
              title: "Lote creado con éxito",
              icon: "success",
              iconColor: "#F6C90E",
              confirmButtonText: "Aceptar",
              background: "#1f2937",
              color: "#EEEEEE",
              confirmButtonColor: "#F6C90E",
            });
            window.location.href = "/api/v1/lotes/seccion-lotes";}
      } catch(err){
        await Swal.fire({
            title: "Error",
            text: err.message || "No se pudo crear el lote.",
            icon: "error",
            confirmButtonText: "Reintentar",
          });
      }


    });
  </script>
</section>
