<section
  class="bg-general bg-cover bg-center h-auto flex gap-5 text-secundary-light w-full"
>
  <div class="min-h-screen w-full flex flex-col">
    <!-- Top Navigation -->
    <header class="bg-main-black shadow-lg">
      <div class="flex items-center justify-between h-16 px-4">
        <div class="flex items-center space-x-4">
          <a
            href="/api/v1/usuarios/dashboardAdmin"
            class="text-main-yellow hover:text-secundary-dark"
          >
            <i class="fa-solid fa-arrow-left text-2xl"></i>
          </a>
          <h1 class="text-xl text-secundary-light font-bold">Nuevo registro</h1>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="flex-1 p-6">
      <div
        class="max-w-lg w-3/4 mx-auto bg-main-black rounded-lg shadow-lg p-6"
      >
        <form class="space-y-6" id="noRegisteredForm">
          <!-- Vehicle Type -->
          <div class="flex flex-col gap-4">
            <label
              for="tipoVehiculo"
              class="block font-medium text-secundary-light"
              >Tipo de vehiculo</label
            >
            <div class="mt-1">
              <select
                id="tipoVehiculo"
                name="tipoVehiculo"
                required
                class="block w-full px-4 py-2 rounded-md bg-secundary-dark border border-gray-600 text-secundary-light placeholder-gray-400 focus:outline-none focus:border-main-yellow focus:ring-1 focus:ring-main-yellow"
              >
                <option value="">Seleccione un tipo</option>
                <option value="moto">Moto</option>
                <option value="carro">Carro</option>
                <option value="bicicleta">Bicicleta</option>
              </select>
            </div>
          </div>
          <!-- License Plate -->
          <div class="flex flex-col gap-4">
            <label for="placa" class="block font-medium text-secundary-light"
              >Placa</label
            >
            <div class="mt-1">
              <input
                type="text"
                id="placa"
                name="placa"
                required
                class="block w-full px-4 py-2 rounded-md bg-secundary-dark border border-gray-600 text-secundary-light placeholder-gray-400 focus:outline-none focus:border-main-yellow focus:ring-1 focus:ring-main-yellow"
                placeholder="Ingrese la placa"
              />
            </div>
          </div>

          <div class="flex justify-end space-x-4 pt-6">
            <button
              type="button"
              onclick="window.location.href = '/api/v1/usuarios/dashboardAdmin'"
              class="px-4 py-2 text-secundary-light hover:text-secundary-dark"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="px-4 py-2 outline outline-main-yellow bg-main-yellow rounded-lg hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-main-yellow focus:ring-offset-main-yellow text-main-black font-semibold hover:text-secundary-light"
            >
              Registrar
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>

  <script>
    const form = document.getElementById("noRegisteredForm");
    const URL_HISTORIAL_PARQUEO =
      "/api/v1/historialParqueo/crearHistorialParqueo";

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      try {
        const res = await fetch(URL_HISTORIAL_PARQUEO, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            placa: document.getElementById("placa").value,
            tipoVehiculo: document.getElementById("tipoVehiculo").value,
            isRegistered: false,
            isReserved: false,
            idEspacioParqueo: 4,
          }),
        });

        if (res.ok) {
          await Swal.fire({
            title: "Historial registrado con exito",
            icon: "success",
            IconColor: "#F6C90E",
            confirmButtonText: "Aceptar",
            background: "#1f2937",
            color: "#EEEEEE",
            confirmButtonColor: "#F6C90E",
          });
          window.location.href = "/api/v1/usuarios/dashboardAdmin";
        } else {
          throw new Error("Error en la solicitud: " + res.statusText);
        }
      } catch (err) {
        await Swal.fire({
          title: "Error",
          text: err.message || "No se pudo registrar el historial.",
          icon: "error",
          confirmButtonText: "Reintentar",
        });
      }
    });
  </script>
</section>
