<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet">
    <link href="/css/input.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="flex">
    <%- include('../partials/sidebarAdmin') %>
    <%- body %>
</body>
<script>
    //logica para el logout

    const urlLogout = 'http://localhost:3000/api/v1/auth/logout'
    const cerrarSesionAdminBtn = document.getElementById('cerrarSesionAdminBtn')
    
    cerrarSesionAdminBtn.addEventListener('click', async () => {
        try{
            const res = await fetch(urlLogout, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                }
            })
            if(!res.ok){
                throw new Error('Error en la solicitud: ' + res.statusText)
            }
            window.location.href = 'http://localhost:3000/' //se debe redirigir a un home y no al login
        } catch (err) {
            console.error(err)
        }
    })

</script>
</html>
